akka
{
    loglevel = OFF
    actor
    {
        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
        deployment
        {
            /standing/notification/phoneNotification {
                router = round-robin-pool
                nr-of-instances = 4
            }
        }
    }
    remote
    {
        helios.tcp
        {
            port = 4097
            hostname = localhost
        }
    }
}