akka
{
    actor
    {
     #   provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
     #   deployment
     #   {
     #       /standing/notification {
     #           router = round-robin-pool
     #           nr-of-instances = 2
     #           remote = "akka.tcp://RaceSystem@localhost:4097"

    #      }
    #    }
    }
    remote
    {
        helios.tcp
        {
            port = 4096
            hostname = localhost
        }
    }
}