akka
{
    loglevel = OFF
    
    actor
    {
        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
        deployment
        {
            /notification/phoneNotification {
                router = round-robin-pool
                nr-of-instances = 1
            }

        }
    }
    remote
    {
        helios.tcp
        {
            port = 4096
            hostname = localhost
        }
    }
}