akka
{
    loglevel = OFF
    
    actor
    {
        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
        deployment
        {
            /notification {
                remote = "akka.tcp://RaceSystem@localhost:4097"
            }

            /notification/phoneNotification {
                remote = "akka.tcp://RaceSystem@localhost:4097"
            }
        }
    }
    remote
    {
        helios.tcp
        {
            port = 4096
            hostname = localhost
        }
    }
}